body {
  background-color: #edf2f8;
  font-size: 13px;
}

@font-face {
  font-family: barlow semi condensed;
  src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);
}

.container {
  width: 80%;
  margin: 5% auto 1% auto;
  height: 90%;
}

.daniel {
  border-radius: 5%;
  background-color: #7541c9;
  color: #edf2f8;
}

.daniel img,
.jonathan img,
.jeanette img,
.kira img,
.patrick img {
  border-radius: 50%;
  border: solid #9264db 2px;
  margin: 1.5rem;
  float: left;
}

.daniel #dan-id,
.jonathan #jon-id,
.jeanette #jean-id,
.kira #kira-id,
.patrick #pat-id {
  float: left;
  margin: 30px 0px 0px 10px;
}

.daniel #dan-id h4,
.jonathan h4,
.patrick h4 {
  margin: 5px 0px;
}

.daniel #dan-id h5,
.jonathan h5 {
  margin: 0px;
  color: #9264db;
}

.daniel p.bold,
.jonathan p.bold,
.patrick p.bold {
  clear: both;
  color: #fff;
  font-size: 1.5em;
  margin: 5px 20px;
}

.daniel p.light {
  color: #9264db;
  font-size: 1.2em;
  margin: 15px 20px;
}

.jonathan {
  border-radius: 5%;
  background-color: #49556b;
}

.jonathan img,
.jeanette img,
.kira img {
  border: none;
}

.jonathan h4,
.patrick h4 {
  color: #ffff;
}

.jonathan h5,
.patrick h5 {
  color: #c9cdd4;
}

.jonathan p.bold,
.patrick p.bold {
  width: 80%;
  margin: 20px auto;
}

.jonathan p.light,
.jeanette p.light,
.kira p.light,
.patrick p.light {
  width: 80%;
  font-size: 1.2em;
  margin: 15px auto;
  color: #aaabac;
}

.jeanette {
  background-color: white;
  border-radius: 5%;
}

.kira {
  background-color: #ffff;
  border-radius: 5%;
}

.jeanette h4,
.kira h4 {
  margin: 5px 0px;
  color: #49556b;
}

.jeanette h5,
.kira h5 {
  margin: 0px;
  color: #aaabac;
}

.jeanette p.bold,
.kira p.bold {
  color: #49556b;
  width: 80%;
  margin: 20px auto;
  clear: both;
  font-size: 1.5em;
}

.jeanette p.light,
.kira p.light {
  margin: 20px auto;
  color: #aaabac;
}

.patrick {
  background-color: #19212e;
  border-radius: 5%;
}

@media all and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
  .daniel, .jeanette, .patrick ,.jonathan, .kira {
    margin-top:20px;}
  
  
  
}

@media all and (max-width: 786px) and (min-width: 376px) {
  .container {
    grid-template: repeat(4, 25%) / 48% 48%;
    margin-bottom: 2%;
  }

  .daniel {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  .kira {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  .patrick {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
  }

  .jonathan {
    grid-row: 4;
    grid-column: 1 / span 1;
  }

  .jeanette {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
  }

  .jonathan #jon-id,
  .jeanette #jean-id {
    margin-top: 5px;
  }

  .jonathan p.light,
  .jeanette .light {
    margin-top: 0px;
  }

  .attribution {
    margin-top: 15%;
  }
}

@media all and (min-width: 787px) {
  .container {
    display: grid;
    width: 80%;
    grid-template: 48% 48% / repeat(4, 24%);
    gap: 20px;
  }

  .daniel {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  .jonathan {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
  }

  .jeanette {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  .kira {
    grid-row: 1 / span 2;
    grid-column: 4;
  }

  .patrick {
    grid-column: 2 / span 2;
    grid-row: 2;
  }
}
